#VIRTIO drivers configuration options

#Copyright (c) 2021 Wind River Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig VIRTIO
	bool "VIRTIO Drivers"

if VIRTIO

config VIRTIO_MMIO
	bool "Support VIRTIO MMIO transport"
	help
	  Enable support for VIRTIO over MMIO

config VIRTIO_SERIAL
	bool "Support VIRTIO Console device"
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select RING_BUFFER
	help
	  Enable support for VIRTIO Console (serial) device

config VIRTIO_RNG
	bool "Support VIRTIO Entropy device"
	select ENTROPY_HAS_DRIVER
	help
	  Enable support for VIRTIO Entropy device

if VIRTIO_RNG

module = VIRTIO_RNG
module-str = virtio-rng
source "subsys/logging/Kconfig.template.log_config"

endif #VIRTIO_RNG

menuconfig VIRTIO_NETWORK
	bool "Support VIRTIO Network device"
	help
	  Enable support for VIRTIO Network device

if VIRTIO_NETWORK

module = VIRTIO_NET
module-str = virtio-net
source "subsys/logging/Kconfig.template.log_config"

#TODO: if virtio-pci is ever supported, we need some parameter to enable
#the correct virtio-net model here
config ETH_DEVICE
        string
        default "virtio-net-device"
        help
          Tells what Qemu network model to use. This value is given as
          a parameter to -device qemu command line option.

config VIRTIO_NET_ZEROCOPY_TX
        bool "Enable zero-copy transmit"
        default n
        help
          Don't copy the packet contents to a separate buffer.

config VIRTIO_NET_ZEROCOPY_RX
        bool "Enable zero-copy receive"
        default n
        help
          Perform reception direcly into a network packet.

endif #VIRTIO_NETWORK

endif #VIRTIO
