#VIRTIO drivers configuration options

#Copyright (c) 2021 Wind River Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig VIRTIO
	bool "VIRTIO Drivers"

if VIRTIO

config VIRTIO_MMIO
	bool "Support VIRTIO MMIO transport"
	help
	  Enable support for VIRTIO over MMIO

config VIRTIO_SERIAL
	bool "Support VIRTIO Console device"
	select SERAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select RING_BUFFER
	help
	  Enable support for VIRTIO Console (serial) device

#QEMU requires a device when enabling networking, to use with -nic
#which is kinda obsolete and won't support virtio-net-device
#so we fake it here to pacify the build system
config ETH_NIC_MODEL
        string
        default "e1000"
        help
          Tells what Qemu network model to use. This value is given as
          a parameter to -nic qemu command line option.

endif #VIRTIO
