/{
	virtio_mmio@a003e00 {
		status = "okay";
		label = "virtio0";
		virtio0: serial {
		label = "virt-serial";
		compatible = "virtio-serial";
		};
	};

	chosen {
		zephyr,console = &virtio0;
		zephyr,shell-uart = &virtio0;
	};

};
