# Copyright (c) 2019 Carlo Caione <ccaione@baylibre.com>
# SPDX-License-Identifier: Apache-2.0

if BOARD_QEMU_CORTEX_A53

config BUILD_OUTPUT_BIN
	default y

config BOARD
	default "qemu_cortex_a53"

if NETWORKING

config NET_L2_ETHERNET
        default y

endif #NETWORKING

endif # BOARD_QEMU_CORTEX_A53
